Source: siliconsneaker
Section: utils
Priority: optional
Maintainer: Craig Prevallet <penguintx@hotmail.com>
Build-Depends: debhelper-compat (= 13),
	       build-essential,
	       libc6-dev,
	       libgtk-3-dev,
	       libglib2.0-dev,
	       librsvg2-dev,
	       libcairo2-dev,
	       libplplot-dev,
	       libxml2-dev,
	       libosmgpsmap-1.0-dev,
	       golang-1.15-go
Standards-Version: 4.5.0
Vcs-Browser: https://github.com/cprevallet/siliconsneaker
Vcs-Git: https://github.com/cprevallet/siliconsneaker
Homepage: https://github.com/cprevallet/siliconsneaker
Rules-Requires-Root: no

Package: siliconsneaker
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libosmgpsmap-1.0-1,
         libgtk-3-0,
         libplplot17,
         librsvg2-2,
         libxml2
Description: View data in FIT or TCX formatted files
 siliconsneaker is a desktop application for graphically displaying 
 global positioning, pace, heartrate, and elevation 
 data stored within FIT- or TCX-format files.
